footer.footer
    .section.footer-top
      .container
        .footer-brand
          a(href='#')
            span.logo-text.headline-md AutoMoto
          p.body-md.footer-text
            | S&imath;f&imath;r ve ikinci el arabalar&imath; en g&uuml;venilir yerden al&imath;n.
        ul.footer-list
          li
            p.title-lg.footer-list-title AutoMoto
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Ke&scedil;fet
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Aktiviteler
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Sepet
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span &Idot;&scedil; Ortaklar&imath;m&imath;z
        ul.footer-list
          li
            p.title-lg.footer-list-title Kullan&imath;&scedil;l&imath; Linkler
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Hakk&imath;m&imath;zda
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Blog &amp; Haberler
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span &Scedil;artlar &amp; Ko&scedil;ullar
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Gizlilik Politikas&imath;
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span Giri&scedil; Yap
          li
            a.footer-link(href='#')
              ion-icon.md.hydrated(name='chevron-forward' role='img' aria-label='chevron forward')
              span.span &Idot;leti&scedil;ime Ge&ccedil;in
        .footer-list
          ul
            li
              p.title-lg.footer-list-title &Idot;leti&scedil;im Detaylar&imath;
            li.footer-list-item
              ion-icon.md.hydrated(name='mail-outline' aria-hidden='true' role='img')
              a.footer-link(href='mailto:metalink@nft.com') automoto.link@car.com
            li.footer-list-item
              ion-icon.md.hydrated(name='call-outline' aria-hidden='true' role='img')
              a.footer-link(href='tel:+90 552 240 37 05') +90 552 240 37 05
    .footer-bottom
      .container
        p.body-md.text-center.copyright
          | &copy; 2024 Automoto. Developed with 
          span.span &#x2764;
          |  by dynamicsoft.