doctype html
//head
include ../includes/head.pug
// header
include ../includes/navbar.pug
main
  block content 
  include ../includes/footer.pug
.body-bg-shape

//Back-to-top
a.back-to-top.btn-icon.active(href="#" aria-label="back to top")
    i.fa-solid.fa-hand-point-up
// Font Awesome Link
script(src='https://kit.fontawesome.com/4561d60ff4.js' crossorigin='anonymous')
