extends layouts/main-layout.pug

block content
 section.section.notfound
   .container
     .notfound-wrapper
       h1.headline-lg.notfound-title.text-center Oops!
       h2.headline-md.notfound-sub-title.text-center 404 - SAYFA BULUNAMADI
       p.body-lg.text-center
         | Arad&imath;&gbreve;&imath;n&imath;z sayfa maalesef bulunamad&imath;. Belki de yanl&imath;&scedil; bir adrese gittiniz ya da arad&imath;&gbreve;&imath;n&imath;z i&ccedil;erik art&imath;k mevcut de&gbreve;il.
       button.btn Anasayfaya git


//- doctype html
//- head
//-   // meta tags
//-   meta(charset='UTF-8')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   // title
//-   title 404
//-   // custom css
//-   link(rel='stylesheet' href='/css/style.css')
//- section.section.notfound
//-   .container
//-     .notfound-wrapper
//-       h1.headline-lg.notfound-title.text-center Oops!
//-       h2.headline-md.notfound-sub-title.text-center 404 - SAYFA BULUNAMADI
//-       p.body-lg.text-center
//-         | Arad&imath;&gbreve;&imath;n&imath;z sayfa maalesef bulunamad&imath;. Belki de yanl&imath;&scedil; bir adrese gittiniz ya da arad&imath;&gbreve;&imath;n&imath;z i&ccedil;erik art&imath;k mevcut de&gbreve;il.
//-       button.btn Anasayfaya git
